<ng-container *ngIf="place$ | async as place; else loading">
    <div class="justify-content-center px-3 px-md-5 row fs-6">
        <div class="col-md">
            <p>
                <strong>
                    {{ 'component.fields.place-number' | translate }}
                </strong>
            </p>
            <p>{{ place.placeNumber }}</p>

            <p>
                <strong>
                    {{ 'component.fields.active' | translate }}
                </strong>
            </p>
            <p></p>
            <div class="form-check form-switch">
                <input
                    class="form-check-input"
                    disabled
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                    [checked]="place.active" />
            </div>
        </div>
        <div class="col-md">
            <p>
                <strong>
                    {{ 'component.fields.square-footage' | translate }}
                </strong>
            </p>
            <p>{{ place.squareFootage }}</p>
            <p>
                <strong>
                    {{ 'component.fields.residents-number' | translate }}
                </strong>
            </p>
            <p>{{ place.residentsNumber }}</p>
        </div>
        <div class="col-md">
            <p>
                <strong>{{ 'component.fields.address' | translate }}</strong>
            </p>
            <p>
                {{ place.building.address | address }}
            </p>
            <button
                *ngIf="authService.isManager()"
                type="button"
                class="btn btn-outline-primary"
                (click)="editPlace(place.id)">
                {{ 'component.place.edit-place' | translate }}
            </button>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">{{ 'component.place.loading' | translate }}</span>
    </div>
</ng-template>
