<div class="p-3 p-sm-5">
    <form
        (submit)="onSubmit()"
        [formGroup]="changePasswdForm"
        class="mb-3 md-4">
        <div class="as-validation mb-2">
            <label
                class="form-label"
                for="oldPassword">
                Current password
            </label>
            <div class="input-group">
                <input
                    [ngClass]="{
                        'is-valid': oldPasswordControl.valid,
                        'is-invalid':
                            oldPasswordControl.invalid && oldPassword?.touched
                    }"
                    class="form-control"
                    formControlName="oldPassword"
                    id="oldPassword"
                    [type]="showOldPassword ? 'text' : 'password'" />

                <i
                    class="input-group-text bi"
                    [ngClass]="{
                        'bi-eye-slash': !showOldPassword,
                        'bi-eye': showOldPassword
                    }"
                    (click)="showOldPassword = !showOldPassword"></i>
            </div>
            <span *ngIf="oldPassword?.touched">
                <p
                    *ngIf="
                    oldPasswordControl.errors?.['required']"
                    class="validation-message">
                    Field is required
                </p>
                <p
                    *ngIf="
                    oldPasswordControl.errors?.['minlength'] &&
                    !oldPasswordControl.errors?.['required']
                "
                    class="validation-message">
                    Password must be longer than 8
                </p>
            </span>
        </div>
        <div class="has-validation mb-2">
            <label
                class="form-label"
                for="password">
                New password
            </label>
            <div class="input-group">
                <input
                    [ngClass]="{
                        'is-valid':passwordControl.valid,
                        'is-invalid': passwordInvalid && password?.touched,
                    }"
                    class="form-control"
                    formControlName="password"
                    id="password"
                    [type]="showPassword ? 'text' : 'password'" />
                <i
                    class="input-group-text bi"
                    [ngClass]="{
                        'bi-eye-slash': !showPassword,
                        'bi-eye': showPassword
                    }"
                    (click)="showPassword = !showPassword"></i>
            </div>
            <span *ngIf="password?.touched">
                <p
                    *ngIf="errorPassword() === 1"
                    class="validation-message">
                    Field is required
                </p>
                <p
                    *ngIf="errorPassword() === 2"
                    class="validation-message">
                    New password can't be same as current one
                </p>
                <p
                    *ngIf="errorPassword() === 3"
                    class="validation-message">
                    New passwords must be identical
                </p>
                <p
                    *ngIf="errorPassword() === 4"
                    class="validation-message">
                    Password is too weak
                </p>
            </span>
        </div>
        <div class="has-validation mb-2">
            <label
                class="form-label"
                for="repeatPassword">
                Repeat password
            </label>
            <div class="input-group">
                <input
                    [ngClass]="{
                        'is-valid': repeatPasswordControl.valid,
                        'is-invalid':
                            repeatPasswordInvalid && repeatPassword?.touched
                    }"
                    class="form-control"
                    formControlName="repeatPassword"
                    id="repeatPassword"
                    [type]="showRepeatPassword ? 'text' : 'password'" />

                <i
                    class="input-group-text bi"
                    [ngClass]="{
                        'bi-eye-slash': !showRepeatPassword,
                        'bi-eye': showRepeatPassword
                    }"
                    (click)="showRepeatPassword = !showRepeatPassword"></i>
            </div>
            <span *ngIf="repeatPassword?.touched">
                <p
                    *ngIf="errorRepeatPassword() === 1"
                    class="validation-message">
                    Field is required
                </p>
                <p
                    *ngIf="errorRepeatPassword() === 2"
                    class="validation-message">
                    New password can't be same as current one
                </p>
                <p
                    *ngIf="errorRepeatPassword() === 3"
                    class="validation-message">
                    New passwords must be identical
                </p>
            </span>
        </div>

        <div
            class="d-grid"
            i18n>
            <button
                class="btn btn-primary"
                type="submit"
                [disabled]="
                    changePasswdForm.invalid ||
                    passwordControl.invalid ||
                    passwordMismatch ||
                    samePassword ||
                    repeatPasswordControl.invalid ||
                    oldPasswordControl.invalid
                ">
                <ng-container *ngIf="loading; else loginButton">
                    <span
                        class="spinner-border spinner-border-sm"
                        role="status">
                    </span>
                </ng-container>
                <ng-template #loginButton>Change</ng-template>
            </button>
        </div>
    </form>
</div>
