<div class="p-3 p-sm-5">
    <form
        (submit)="onSubmit()"
        [formGroup]="changePasswdForm"
        class="mb-3 md-4">
        <div class="mb-3">
            <label
                class="form-label"
                for="oldPassword">
                Current password
            </label>
            <div class="input-group">
                <input
                    [ngClass]="{
                        'is-valid':
                            oldPassword &&
                            oldPassword.touched &&
                            oldPassword.valid,
                        'is-invalid':
                            oldPassword &&
                            oldPassword.touched &&
                            oldPassword.invalid
                    }"
                    class="form-control"
                    formControlName="oldPassword"
                    id="oldPassword"
                    [type]="showOldPassword ? 'text' : 'password'" />

                <i
                    class="input-group-text bi"
                    [ngClass]="{
                        'bi-eye-slash': !showOldPassword,
                        'bi-eye': showOldPassword
                    }"
                    (click)="showOldPassword = !showOldPassword"></i>
            </div>
            <span
                *ngIf="
                    oldPassword &&
                    oldPassword.touched &&
                    oldPassword.getRawValue().length === 0
                "
                class="validation-message">
                Field is required
            </span>
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="password">
                New password
            </label>
            <div class="input-group">
                <input
                    [ngClass]="{
                        'is-valid':
                            password && password.touched && password.valid && password.getRawValue() !== oldPassword?.getRawValue(),
                        'is-invalid':
                            password && password.touched && password.invalid && password.getRawValue() === oldPassword?.getRawValue(),
                    }"
                    class="form-control"
                    formControlName="password"
                    id="password"
                    [type]="showPassword ? 'text' : 'password'" />
                <i
                    class="input-group-text bi"
                    [ngClass]="{
                        'bi-eye-slash': !showPassword,
                        'bi-eye': showPassword
                    }"
                    (click)="showPassword = !showPassword"></i>
            </div>
            <span
                *ngIf="
                    password &&
                    password.touched &&
                    password.getRawValue().length === 0
                "
                class="validation-message">
                Field is required
            </span>
            <span
                *ngIf="
                    password &&
                    password.touched &&
                    password.getRawValue().length < 8 &&
                    password.getRawValue().length > 0
                "
                class="validation-message">
                Password must contain at least 8 characters
            </span>
            <span
                *ngIf="
                    password &&
                    password.touched &&
                    password.getRawValue().length > 8 &&
                    !regexp.test(password?.getRawValue())
                "
                class="validation-message">
                Password is too weak
            </span>
            <span
                *ngIf="
                    password &&
                    password.touched &&
                    password?.getRawValue() === oldPassword?.getRawValue()
                "
                class="validation-message">
                Password can't be same as current one
            </span>
        </div>
        <div class="mb-3">
            <label
                class="form-label"
                for="repeatPassword">
                Repeat password
            </label>
            <div class="input-group">
                <input
                    [ngClass]="{
                        'is-valid':
                            repeatPassword &&
                            repeatPassword.touched &&
                            repeatPassword.valid &&
                            repeatPassword.getRawValue() ===
                                password?.getRawValue() &&
                            password?.valid,
                        'is-invalid':
                            repeatPassword &&
                            repeatPassword.touched &&
                            repeatPassword.invalid
                    }"
                    class="form-control"
                    formControlName="repeatPassword"
                    id="repeatPassword"
                    [type]="showRepeatPassword ? 'text' : 'password'" />

                <i
                    class="input-group-text bi"
                    [ngClass]="{
                        'bi-eye-slash': !showRepeatPassword,
                        'bi-eye': showRepeatPassword
                    }"
                    (click)="showRepeatPassword = !showRepeatPassword"></i>
            </div>
            <span
                *ngIf="
                    ((password && password.touched) ||
                        (repeatPassword && repeatPassword.touched)) &&
                    repeatPassword?.getRawValue().length === 0
                "
                class="validation-message">
                Field is required
            </span>
            <span
                *ngIf="
                    repeatPassword &&
                    repeatPassword.touched &&
                    repeatPassword?.getRawValue() !== password?.getRawValue() &&
                    repeatPassword?.getRawValue().length > 0
                "
                class="validation-message text-wrap">
                Password must be identical
            </span>
        </div>
        <div
            class="d-grid"
            i18n>
            <button
                class="btn btn-primary"
                type="submit"
                [disabled]="
                    changePasswdForm.invalid ||
                    repeatPassword?.getRawValue() !== password?.getRawValue() ||
                    password?.getRawValue() === oldPassword?.getRawValue()
                ">
                <ng-container *ngIf="loading; else loginButton">
                    <span
                        class="spinner-border spinner-border-sm"
                        role="status">
                    </span>
                </ng-container>
                <ng-template #loginButton>Change</ng-template>
            </button>
        </div>
    </form>
</div>
