<div class="row">
    <div class="col">
        <h2>
            <span *ngIf="!deleting">
                {{ 'component.place.categories.title' | translate }}
            </span>
            <span *ngIf="deleting">{{
                'component.place.categories.title-edit' | translate
            }}</span>
        </h2>
    </div>
    <div class="col text-end fs-3">
        <i
            class="bi bi-arrow-clockwise"
            (click)="onReload()"></i>
    </div>
</div>
<hr />
<div class="px-4 py-2">
    <ng-container
        *ngIf="placeCategories$ | async as categories; else loadingCategories">
        <div class="row card-group">
            <div
                class="col-sm-2"
                *ngFor="let category of categories; let i = index">
                <div
                    class="card m-3 rounded-3 shadow text-center"
                    [ngClass]="{
                        'text-danger opacity-50 cursor-pointer':
                            deleting && chosen.includes(category.rateId),
                        'text-success cursor-pointer':
                            deleting && !chosen.includes(category.rateId)
                    }"
                    (click)="addNumbers(category.rateId)">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i
                                class="bi {{
                                    getIcon(category.categoryName)
                                }} fs-1 mt-1"></i>
                        </li>
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">
                            {{ category.categoryName | translate }}
                        </h5>
                        <span class="card-text">{{ category.rate }}</span>
                        <span *ngIf="category.accountingRule === RULE.UNIT">
                            {{
                                'component.place.categories.pln' | translate
                            }}/{{
                                'component.place.categories.month' | translate
                            }}
                        </span>
                        <span *ngIf="category.accountingRule === RULE.METER">
                            {{
                                'component.place.categories.pln' | translate
                            }}/m<sup>3</sup>
                        </span>
                        <span *ngIf="category.accountingRule === RULE.PERSON">
                            {{
                                'component.place.categories.pln' | translate
                            }}/{{
                                'component.place.categories.person' | translate
                            }}
                        </span>
                        <span *ngIf="category.accountingRule === RULE.SURFACE">
                            {{ 'component.place.categories.pln' | translate }}
                            /m<sup>2</sup>
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="col-sm-2"
                *ngIf="!deleting">
                <div
                    class="card m-3 rounded-3 shadow text-center"
                    (click)="addCategory()">
                    <div class="card-body">
                        <div class="align-middle mt-4 mb-5">
                            <i class="bi bi-plus-lg fs-1"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #loadingCategories>
        <div
            class="d-flex flex-column justify-content-center align-items-center">
            <span class="spinner-border"></span>
            <span class="mt-3">{{
                'component.place.categories.loading' | translate
            }}</span>
        </div>
    </ng-template>
</div>
<hr />
<div>
    <button
        *ngIf="!deleting"
        type="button"
        class="btn btn-outline-danger"
        (click)="deleting = true">
        {{ 'component.place.categories.edit' | translate }}
    </button>
    <button
        *ngIf="deleting"
        type="button"
        class="btn btn-outline-success"
        (click)="onSave()">
        {{ 'component.place.categories.save' | translate }}
    </button>
</div>
