<div
    class="d-flex flex-column flex-shrink-0 sidebar p-3 bg-light-subtle border fixed-top sticky-sm-top"
    [ngClass]="{ 'd-none': hidden }"
    style="width: 280px">
    <div class="d-flex align-items-center text-decoration-none">
        <a
            routerLink="/"
            class="w-100 text-center fs-3 nav-link link-body-emphasis">
            <i class="bi bi-buildings"></i>
            eBok
        </a>
        <button
            class="btn fs-2"
            style="border-radius: 0 0 10px 0"
            (click)="toggle()">
            <i
                *ngIf="hidden"
                class="bi bi-chevron-double-right"></i>
            <i
                *ngIf="!hidden"
                class="bi bi-chevron-double-left"></i>
        </button>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a
                routerLink="/dashboard"
                class="nav-link link-body-emphasis"
                aria-current="page"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="bi bi-buildings"></i>
                {{ 'nav.dashboard' | translate }}
            </a>
        </li>
        <li *ngIf="authService.isAdmin() || authService.isManager()">
            <a
                routerLink="/dashboard/accounts"
                href="#"
                class="nav-link link-body-emphasis"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="bi bi-people"></i> {{ 'nav.accounts' | translate }}
            </a>
        </li>
        <li *ngIf="authService.isManager()">
            <a
                routerLink="/dashboard/categories"
                href="#"
                class="nav-link link-body-emphasis"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="bi bi-tags"></i> {{ 'nav.categories' | translate }}
            </a>
        </li>
    </ul>
    <hr />
    <div class="d-flex justify-content-center">
        <a
            class="d-flex align-items-center text-decoration-none link-body-emphasis"
            routerLink="/dashboard/accounts/profile">
            <i class="fs-2 bi bi-person"></i>
            <strong class="px-2 text-center"
                >{{ authService.getLogin() | truncate : 20 }} ({{
                    'access-levels.' + authService.getCurrentGroup().toString()
                        | translate
                }})</strong
            >
        </a>
    </div>
</div>

<!--Hidden sidebar mobile-->
<div
    *ngIf="hidden"
    class="d-flex d-sm-none position-fixed top-0 start-0"
    style="z-index: 1021">
    <button
        class="fs-2 btn py-2"
        style="border-radius: 0 0 10px 0"
        (click)="toggle()"
        [ngClass]="{
            'text-black': authService.isManager(),
            'text-white': !authService.isManager()
        }">
        <i class="bi bi-chevron-double-right"></i>
    </button>
</div>
<!--Hidden sidebar-->
<div
    *ngIf="hidden"
    class="d-none d-sm-flex flex-column shadow vh-100 fixed-top sticky-sm-top bg-light-subtle">
    <button
        class="fs-2 btn"
        (click)="toggle()">
        <i
            *ngIf="hidden"
            class="bi bi-chevron-double-right"></i>
        <i
            *ngIf="!hidden"
            class="bi bi-chevron-double-left"></i>
    </button>
    <span class="nav-pills">
        <button
            class="nav-link mx-auto p-2 m-2"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/dashboard">
            <i class="bi bi-buildings fs-2"></i>
        </button>
        <button
            *ngIf="authService.isAdmin() || authService.isManager()"
            class="nav-link mx-auto p-2 m-2"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/dashboard/accounts">
            <i class="bi bi-people fs-2"></i>
        </button>
        <button
            *ngIf="authService.isManager()"
            class="nav-link mx-auto p-2 m-2"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/dashboard/categories">
            <i class="bi bi-tags fs-2"></i>
        </button>
        <button
            class="nav-link mx-auto p-2 m-2"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/dashboard/accounts/profile">
            <i class="bi bi-person fs-2"></i>
        </button>
    </span>
</div>
