<ng-container *ngIf="account$ | async as account; else loadingAccountData">
    <div ngbAccordion>
        <div
            ngbAccordionItem="personal"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    Personal data
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div
                    ngbAccordionBody
                    class="d-flex flex-column flex-md-row justify-content-start align-items-center mb-3 mb-md-0">
                    <ng-template>
                        <div class="px-5 mb-4 mb-md-2">
                            <div>
                                <i
                                    class="bi bi-person"
                                    style="font-size: 8rem"></i>
                            </div>
                            <button class="fs-5 w-100 btn btn-outline-primary">
                                Edit
                            </button>
                        </div>
                        <div
                            class="justify-content-center px-3 px-md-5 row fs-5">
                            <div class="col-md">
                                <p><strong>First name</strong></p>
                                <p>{{ account.firstName }}</p>
                                <p><strong>Last name</strong></p>
                                <p>{{ account.lastName }}</p>
                                <p><strong>Login</strong></p>
                                <p>{{ account.login }}</p>
                            </div>
                            <div class="col-md">
                                <p><strong>E-mail</strong></p>
                                <p>{{ account.email }}</p>
                                <p><strong>Language</strong></p>
                                <p>{{ account.language }}</p>
                                <p><strong>Verified</strong></p>
                                <p>{{ account.verified }}</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div
            ngbAccordionItem="auth"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    Authentication data
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div
                    ngbAccordionBody
                    class="d-flex justify-content-start align-items-center fs-5"
                    *ngIf="account.activityTracker as activityTracker">
                    <ng-template>
                        <div
                            class="row px-3 px-md-5 justify-content-center w-100">
                            <div
                                *ngIf="
                                    account.activityTracker.lastSuccessfulLogin
                                "
                                class="col-md">
                                <p>
                                    <strong>Last successful login date</strong>
                                </p>
                                <p>
                                    {{
                                        activityTracker.lastSuccessfulLogin
                                            | date : 'dd/MM/yy HH:mm:ss'
                                    }}
                                </p>
                                <p><strong>Last successful login IP</strong></p>
                                <p>
                                    {{ activityTracker.lastSuccessfulLoginIp }}
                                </p>
                            </div>
                            <div
                                *ngIf="
                                    account.activityTracker
                                        .lastUnsuccessfulLogin
                                "
                                class="col-md">
                                <p>
                                    <strong
                                        >Last unsuccessful login date</strong
                                    >
                                </p>
                                <p>
                                    {{
                                        activityTracker.lastUnsuccessfulLogin
                                            | date : 'dd/MM/yy HH:mm:ss'
                                    }}
                                </p>
                                <p>
                                    <strong>Last unsuccessful login IP</strong>
                                </p>
                                <p>
                                    {{
                                        activityTracker.lastUnsuccessfulLoginIp
                                    }}
                                </p>
                            </div>
                            <div class="col-md">
                                <p>
                                    <strong
                                        >Unsuccessful login chain
                                        counter</strong
                                    >
                                </p>
                                <p>
                                    {{
                                        activityTracker.unsuccessfulLoginChainCounter
                                    }}
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div
            ngbAccordionItem="accessLevels"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    Access levels data
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div
                            class="d-flex justify-content-start align-items-center">
                            <div
                                class="row px-3 px-md-5 justify-content-center w-100">
                                <div
                                    *ngFor="
                                        let accessLevel of account.accessLevels
                                    "
                                    class="fs-5 col-md p-3">
                                    <p><strong>Level</strong></p>
                                    <p>{{ accessLevel.level }}</p>
                                    <span
                                        *ngIf="accessLevel.address as address">
                                        <hr />
                                        <p><strong>Address</strong></p>
                                        <p>
                                            {{ address.street }}
                                            {{ address.buildingNumber }}
                                        </p>
                                        <p>
                                            {{ address.postalCode }}
                                            {{ address.city }}
                                        </p>
                                    </span>
                                    <span *ngIf="accessLevel.licenseNumber">
                                        <hr />
                                        <p><strong>License number</strong></p>
                                        <p>{{ accessLevel.licenseNumber }}</p>
                                    </span>
                                    <hr
                                        class="d-block d-md-none border-top border-5 border-dark" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadingAccountData>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">Loading account data...</span>
    </div>
</ng-template>
