<ng-container *ngIf="places$ | async as places; else loadingPlaces">
    <ng-container *ngIf="places.length > 0; else noPlacesFound">
        <div class="d-lg-flex">
            <div class="col col-lg-12">
                <app-place-details [places]="places" />
            </div>
        </div>
    </ng-container>
    <ng-template #noPlacesFound>
        {{ 'component.places.empty' | translate }}
    </ng-template>
</ng-container>
<ng-template #loadingPlaces>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">
            {{ 'component.places.loading' | translate }}
        </span>
    </div>
</ng-template>
