<ng-container *ngIf="places$ | async as places; else loadingPlaces">
    <div class="mb-3">
        <h3>{{ 'component.places.list' | translate }} {{ buildingId }}</h3>
        <div class="btn-group">
            <button
                (click)="openModalToAddPlace()"
                class="btn btn-success">
                {{ 'component.places.add' | translate }}
            </button>
            <button
                (click)="refresh()"
                class="btn-secondary btn"
                placement="right bottom"
                [ngbTooltip]="'component.places.refresh' | translate">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
    </div>
    <ng-container *ngIf="places.length; else noPlacesFound">
        <div class="row row-cols-1 row-cols-xl-2 g-3">
            <div
                *ngFor="let place of places"
                class="col">
                <div class="col card shadow-sm p-1">
                    <div class="card-body">
                        <app-place [place]="place"></app-place>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noPlacesFound>
        {{ 'component.places.empty' | translate }}
    </ng-template>
</ng-container>
<ng-template #loadingPlaces>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">
            {{ 'component.places.loading' | translate }}
        </span>
    </div>
</ng-template>
