<ng-container *ngIf="places$ | async as places; else loadingPlaces">
    <ng-container *ngIf="places.length; else noPlacesFound">
        <div class="row row-cols-1 row-cols-xl-2 g-3">
            <div
                *ngFor="let place of places"
                class="col">
                <div class="col card shadow-sm p-1">
                    <div class="card-body">
                        <app-place [place]="place"></app-place>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noPlacesFound>No places</ng-template>
</ng-container>
<ng-template #loadingPlaces></ng-template>
