<div class="modal-header">
    <h6
        class="modal-title"
        id="modal-basic-title">
        Choose access level
    </h6>
    <button
        (click)="activeModal.dismiss('Cross click')"
        class="btn-close"
        type="button"></button>
</div>
<div>
    <div class="p-4 d-flex justify-content-around">
        <div *ngFor="let group of groups">
            <div
                (click)="onClick(group)"
                [ngClass]="{
                    'btn-warning': group === 'MANAGER',
                    'btn-danger': group === 'ADMIN',
                    'btn-success': group === 'OWNER'
                }"
                class="p-2 btn">
                {{ group }}
            </div>
        </div>
    </div>
</div>
