<ng-container *ngIf="place$ | async as place; else loading">
    <div ngbAccordion>
        <div
            ngbAccordionItem="place-data"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    {{ 'component.place.data' | translate }}
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div
                    class="d-flex flex-column flex-md-row justify-content-start align-items-center mb-3 mb-md-0"
                    ngbAccordionBody>
                    <div class="justify-content-center px-3 px-md-5 row fs-6">
                        <div class="col-md">
                            <p>
                                <strong>
                                    {{
                                        'component.fields.place-number'
                                            | translate
                                    }}
                                </strong>
                            </p>
                            <p>{{ place.placeNumber }}</p>

                            <p>
                                <strong>
                                    {{ 'component.fields.active' | translate }}
                                </strong>
                            </p>
                            <p></p>
                            <div class="form-check form-switch">
                                <input
                                    class="form-check-input"
                                    disabled
                                    type="checkbox"
                                    role="switch"
                                    id="flexSwitchCheckDefault"
                                    [checked]="place.active" />
                            </div>
                        </div>
                        <div class="col-md">
                            <p>
                                <strong>
                                    {{
                                        'component.fields.square-footage'
                                            | translate
                                    }}
                                </strong>
                            </p>
                            api
                            <p>{{ place.squareFootage }}</p>

                            <p>
                                <strong
                                    >{{
                                        'component.fields.residents-number'
                                            | translate
                                    }}
                                </strong>
                            </p>
                            <p>{{ place.residentsNumber }}</p>
                        </div>
                        <div class="col-md">
                            <p>
                                <strong>{{
                                    'component.fields.address' | translate
                                }}</strong>
                            </p>
                            <p>
                                {{ place.building.address.city }},
                                {{ place.building.address.postalCode }},
                                {{ place.building.address.street }},
                                {{ place.building.address.buildingNumber }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">{{ 'component.place.loading' | translate }}</span>
    </div>
</ng-template>
