<nav
    class="d-flex justify-content-end fs-3 navbar navbar-expand shadow-sm w-100"
    [ngClass]="{
        'bg-warning': authService.isManager(),
        'bg-danger': authService.isAdmin(),
        'bg-success': authService.isOwner()
    }">
    <app-change-language></app-change-language>
    <div class="me-3">
        <div
            ngbDropdown
            class="d-inline-block">
            <button
                type="button"
                class="btn px-3"
                id="dropdownBasic1"
                ngbDropdownToggle>
                <span class="h5">
                    <i class="bi bi-person"></i>
                    {{ authService.getLogin() }}
                </span>
            </button>
            <div
                ngbDropdownMenu
                class="dropdown-menu-end">
                <button
                    (click)="logout()"
                    ngbDropdownItem>
                    {{ 'nav.logout' | translate }}
                </button>
            </div>
        </div>
    </div>
</nav>
