<nav
    class="d-flex justify-content-end fs-3 navbar navbar-expand shadow-sm w-100"
    [ngClass]="{
        'bg-warning': authService.isManager(),
        'bg-danger': authService.isAdmin(),
        'bg-success': authService.isOwner()
    }">
    <app-change-language></app-change-language>
    <div>
        <div
            ngbDropdown
            class="nav-item fs-6"
            display="dynamic"
            placement="bottom-end">
            <a
                class="nav-link px-3"
                id="dropdownBasic1"
                role="button"
                ngbDropdownToggle>
                <span class="h5">
                    <i class="bi bi-person"></i>
                    {{ authService.getLogin() }}
                </span>
            </a>
            <div
                ngbDropdownMenu
                class="dropdown-menu-end bg-dark text-center">
                <span class="text-white">{{
                    'access-levels.' + authService.getCurrentGroup() | translate
                }}</span>
                <button
                    class="text-white"
                    routerLink="/dashboard/profile"
                    ngbDropdownItem>
                    {{ 'nav.profile' | translate }}
                </button>
                <button
                    class="text-white"
                    (click)="changeAccessLevel()"
                    *ngIf="authService.getGroups().length > 1"
                    ngbDropdownItem>
                    {{ 'nav.change-access-level' | translate }}
                </button>
                <button
                    (click)="logout()"
                    ngbDropdownItem>
                    {{ 'nav.logout' | translate }}
                </button>
            </div>
        </div>
    </div>
</nav>
