<div class="h-100">
    <header
        class="pt-5 py-5 bg-image-full h-50"
        style="background-image: url('../../../assets/bg-home.jpg')"></header>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 p-3 p-sm-0">
                    <h2>Zmień oblicze swojej wspólnoty z eBok!</h2>
                    <p class="lead">
                        Aplikacja ma na celu wspomaganie prowadzenia wspólnoty
                        mieszkaniowej w zakresie rozliczania lokali do niej
                        należących. Każdy lokal posiada indywidualny przydział
                        kategorii opłat, które wchodzą w skład rozliczenia, a
                        każda kategoria ma aktualną stawkę oraz zasadę
                        rozliczania. Jednym z głównych zadań systemu jest
                        prognozowanie wysokości przyszłych zaliczek oraz
                        wspomaganie w korygowaniu stawek przez zarządcę
                        wspólnoty tak, by zminimalizować różnicę pomiędzy
                        prognozowanymi kosztami poniesionymi przez właścicieli
                        lokali, a realnymi kosztami poniesionymi przez
                        wspólnotę.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
