<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="d-flex flex-column w-100">
        <app-navbar class="d-flex w-100 flex-column sticky-top"></app-navbar>
        <div class="card m-3 ps-2">
            <div
                class="justify-content-start navbar navbar-expand"
                id="navbarNav">
                <ul
                    style="--bs-breadcrumb-divider: '>'"
                    class="navbar-nav breadcrumb mb-0">
                    <ng-container
                        *ngFor="
                            let breadcrumb of getBreadCrumbs();
                            let i = index
                        ">
                        <li
                            [routerLink]="
                                i !== getBreadCrumbs().length - 1
                                    ? ['/' + breadcrumb.link]
                                    : null
                            "
                            class="nav-item pe-0 nav-link breadcrumb-item">
                            <span
                                [ngClass]="{
                                    'fw-bold':
                                        i === getBreadCrumbs().length - 1,
                                    'cursor-pointer':
                                        i !== getBreadCrumbs().length - 1
                                }"
                                class="cursor-pointer"
                                >{{
                                    getKeyForName(breadcrumb.name)
                                        | translate
                                        | titlecase
                                }}</span
                            >
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="card m-3 mt-0">
            <div
                class="container-fluid h-100 overflow-auto p-3 overflow-x-hidden">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
