<ng-container *ngIf="account$; else loadingAccountData">
    <div class="modal-header">
        <h6
            class="modal-title"
            id="modal-basic-title">
            {{ 'component.accounts.edit-account' | translate }}:
            {{ newAccount?.firstName }} {{ newAccount?.lastName }}
        </h6>
    </div>
    <div class="modal-body px-4 py-2">
        <div>
            <div class="row">
                <div class="col-md">
                    <form [formGroup]="editPersonalDataForm">
                        <h2>{{ 'component.account.general' | translate }}</h2>
                        <p>
                            <strong>{{
                                'component.account.personal-data' | translate
                            }}</strong>
                        </p>
                        <div class="mb-2 has-validation">
                            <label
                                class="form-label"
                                for="firstName">
                                {{ 'component.fields.first-name' | translate }}*
                            </label>
                            <input
                                class="form-control"
                                formControlName="firstName"
                                id="firstName"
                                type="text"
                                [ngClass]="{
                                    'is-invalid': firstNameControl.invalid,
                                    'is-valid': firstNameControl.valid
                                }" />
                            <div
                                *ngIf="firstNameControl.errors"
                                class="invalid-feedback">
                                <p
                                    *ngIf="firstNameControl.errors['required']"
                                    class="mb-0">
                                    {{
                                        'validation.first-name.required'
                                            | translate
                                    }}
                                </p>
                                <p
                                    *ngIf="firstNameControl.errors['minlength']"
                                    class="mb-0">
                                    {{
                                        'validation.first-name.min-length'
                                            | translate
                                    }}
                                </p>
                                <p
                                    *ngIf="firstNameControl.errors['maxlength']"
                                    class="mb-0">
                                    {{
                                        'validation.first-name.max-length'
                                            | translate
                                    }}
                                </p>
                            </div>
                        </div>
                        <div class="mb-2 has-validation">
                            <label
                                class="form-label"
                                for="lastName">
                                {{ 'component.fields.last-name' | translate }}*
                            </label>
                            <input
                                class="form-control"
                                formControlName="lastName"
                                id="lastName"
                                type="text"
                                [ngClass]="{
                                    'is-invalid': lastNameControl.invalid,
                                    'is-valid': lastNameControl.valid
                                }" />
                            <div
                                *ngIf="lastNameControl.errors"
                                class="invalid-feedback">
                                <p
                                    *ngIf="lastNameControl.errors['required']"
                                    class="mb-0">
                                    {{
                                        'validation.last-name.required'
                                            | translate
                                    }}
                                </p>
                                <p
                                    *ngIf="lastNameControl.errors['minlength']"
                                    class="mb-0">
                                    {{
                                        'validation.last-name.min-length'
                                            | translate
                                    }}
                                </p>
                                <p
                                    *ngIf="lastNameControl.errors['maxlength']"
                                    class="mb-0">
                                    {{
                                        'validation.last-name.max-length'
                                            | translate
                                    }}
                                </p>
                            </div>
                        </div>
                        <div class="mb-2 has-validation">
                            <label
                                class="form-label"
                                for="language">
                                {{ 'component.account.language' | translate }}*
                            </label>
                            <select
                                class="form-select"
                                formControlName="language"
                                id="language">
                                <option
                                    *ngFor="
                                        let lang of this.appConfig.languages
                                    "
                                    [ngValue]="lang">
                                    {{ lang }}
                                </option>
                            </select>
                        </div>
                        <div class="mb-2 has-validation">
                            <label
                                class="form-label"
                                for="email">
                                {{ 'component.account.email' | translate }}*
                            </label>
                            <input
                                class="form-control"
                                formControlName="email"
                                id="email"
                                type="text"
                                [ngClass]="{
                                    'is-invalid': emailControl.invalid,
                                    'is-valid': emailControl.valid
                                }" />
                            <div
                                *ngIf="emailControl.errors"
                                class="invalid-feedback">
                                <p
                                    *ngIf="emailControl.errors['required']"
                                    class="mb-0">
                                    {{
                                        'validation.email.required' | translate
                                    }}
                                </p>
                                <p
                                    *ngIf="emailControl.errors['email']"
                                    class="mb-0">
                                    {{ 'validation.email.valid' | translate }}
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
                <ng-container
                    *ngFor="
                        let accessLevel of newAccount?.accessLevels
                            | activeAccessLevels
                    ">
                    <div
                        class="col-md"
                        *ngIf="accessLevel.level === AccessLevels.OWNER">
                        <hr class="d-md-none border-top border-5 border-dark" />
                        <h2>
                            {{
                                'access-levels.' + accessLevel.level
                                    | translate
                                    | titlecase
                            }}
                        </h2>
                        <form [formGroup]="editOwnerDataForm">
                            <div *ngIf="accessLevel.address as address">
                                <p>
                                    <strong>{{
                                        'component.fields.address' | translate
                                    }}</strong>
                                </p>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="street">
                                        {{
                                            'component.fields.street'
                                                | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="street"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                ownerStreetControl.invalid,
                                            'is-valid': ownerStreetControl.valid
                                        }" />
                                    <div
                                        *ngIf="ownerStreetControl.errors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                ownerStreetControl.errors[
                                                    'required'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.street.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerStreetControl.errors[
                                                    'maxlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.street.length'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="buildingNumber">
                                        {{
                                            'component.fields.building-number'
                                                | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="buildingNumber"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                ownerBuildingNumberControl.invalid,
                                            'is-valid':
                                                ownerBuildingNumberControl.valid
                                        }" />
                                    <div
                                        *ngIf="
                                            ownerBuildingNumberControl.errors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                ownerBuildingNumberControl
                                                    .errors['required']
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.building.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerBuildingNumberControl
                                                    .errors['min']
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.building.length'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="postalCode">
                                        {{
                                            'component.fields.postal-code'
                                                | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="postalCode"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                ownerPostalCodeControl.invalid,
                                            'is-valid':
                                                ownerPostalCodeControl.valid
                                        }" />
                                    <div
                                        *ngIf="ownerPostalCodeControl.errors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                ownerPostalCodeControl.errors[
                                                    'required'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.postal-code.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerPostalCodeControl.errors[
                                                    'maxlength'
                                                ] ||
                                                ownerPostalCodeControl.errors[
                                                    'minlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.postal-code.length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerPostalCodeControl.errors[
                                                    'postalCode'
                                                ] as pc
                                            "
                                            class="mb-0">
                                            {{ pc | translate }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="city">
                                        {{
                                            'component.fields.city' | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="city"
                                        type="text"
                                        [ngbTypeahead]="searchOwner"
                                        [ngClass]="{
                                            'is-invalid':
                                                ownerCityControl.invalid,
                                            'is-valid': ownerCityControl.valid
                                        }" />
                                    <div
                                        *ngIf="ownerCityControl.errors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                ownerCityControl.errors[
                                                    'required'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerCityControl.errors[
                                                    'minlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.min-length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerCityControl.errors[
                                                    'maxlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.max-length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                ownerCityControl.errors[
                                                    'pattern'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.pattern'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div
                        class="col-md"
                        *ngIf="accessLevel.level === AccessLevels.MANAGER">
                        <hr class="d-md-none border-top border-5 border-dark" />
                        <h2>
                            {{
                                'access-levels.' + accessLevel.level
                                    | translate
                                    | titlecase
                            }}
                        </h2>
                        <form [formGroup]="editManagerDataForm">
                            <div *ngIf="accessLevel.address as address">
                                <p>
                                    <strong>{{
                                        'component.fields.address' | translate
                                    }}</strong>
                                </p>

                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="street">
                                        {{
                                            'component.fields.street'
                                                | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="street"
                                        id="street"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                managerStreetControl.invalid,
                                            'is-valid':
                                                managerStreetControl.valid
                                        }" />
                                    <div
                                        *ngIf="managerStreetControl.errors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                managerStreetControl.errors[
                                                    'required'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.street.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerStreetControl.errors[
                                                    'maxlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.street.length'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="buildingNumber">
                                        {{
                                            'component.fields.building-number'
                                                | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="buildingNumber"
                                        id="buildingNumber"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                managerBuildingNumberControl.invalid,
                                            'is-valid':
                                                managerBuildingNumberControl.valid
                                        }" />
                                    <div
                                        *ngIf="
                                            managerBuildingNumberControl.errors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                managerBuildingNumberControl
                                                    .errors['required']
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.building.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerBuildingNumberControl
                                                    .errors['min']
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.building.length'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="postalCode">
                                        {{
                                            'component.fields.postal-code'
                                                | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="postalCode"
                                        id="postalCode"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                managerPostalCodeControl.invalid,
                                            'is-valid':
                                                managerPostalCodeControl.valid
                                        }" />
                                    <div
                                        *ngIf="managerPostalCodeControl.errors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                managerPostalCodeControl.errors[
                                                    'required'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.postal-code.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerPostalCodeControl.errors[
                                                    'maxlength'
                                                ] ||
                                                managerPostalCodeControl.errors[
                                                    'minlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.postal-code.length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerPostalCodeControl.errors[
                                                    'postalCode'
                                                ] as pc
                                            "
                                            class="mb-0">
                                            {{ pc | translate }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="city">
                                        {{
                                            'component.fields.city' | translate
                                        }}*
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="city"
                                        id="city"
                                        type="text"
                                        [ngbTypeahead]="searchManager"
                                        [ngClass]="{
                                            'is-invalid':
                                                managerCityControl.invalid,
                                            'is-valid': managerCityControl.valid
                                        }" />
                                    <div
                                        *ngIf="managerCityControl.errors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                managerCityControl.errors[
                                                    'required'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerCityControl.errors[
                                                    'minlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.min-length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerCityControl.errors[
                                                    'maxlength'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.max-length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerCityControl.errors[
                                                    'pattern'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.pattern'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="accessLevel.licenseNumber">
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label"
                                        for="licenseNumber">
                                        <strong>
                                            {{
                                                'component.account.license-number'
                                                    | translate
                                            }}*
                                        </strong>
                                    </label>
                                    <input
                                        class="form-control"
                                        formControlName="licenseNumber"
                                        id="licenseNumber"
                                        type="text"
                                        [ngClass]="{
                                            'is-invalid':
                                                managerLicenseNumberControl.invalid,
                                            'is-valid':
                                                managerLicenseNumberControl.valid
                                        }" />
                                    <div
                                        *ngIf="
                                            managerLicenseNumberControl.errors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                managerLicenseNumberControl
                                                    .errors['required']
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.license-number.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                managerLicenseNumberControl
                                                    .errors[
                                                    'invalidLicenseNumber'
                                                ]
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.license-number.invalid'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="px-4 d-flex justify-content-between modal-footer">
        <div
            (click)="activeModal.close(false)"
            class="btn btn-outline-secondary">
            {{ 'component.account.cancel' | translate }}
        </div>
        <button
            [disabled]="!areAllValid()"
            (click)="onSubmit()"
            class="btn btn-success">
            {{ 'component.account.save' | translate }}
        </button>
    </div>
</ng-container>
<ng-template #loadingAccountData>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">{{ 'component.account.loading' | translate }}</span>
    </div>
</ng-template>
