<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card border bg-white rounded-5 shadow-lg">
                    <div class="card-body p-5 bg-light rounded-5">
                        <form
                            (submit)="onSubmit()"
                            [formGroup]="loginForm"
                            class="mb-3 md-4">
                            <h2 class="fw-bold mb-2 text-uppercase">eBok</h2>
                            <p
                                class="mb-5"
                                i18n>
                                Please enter your login and password!
                            </p>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="login"
                                    >Login</label
                                >
                                <input
                                    class="form-control"
                                    formControlName="login"
                                    id="login"
                                    type="text" />
                            </div>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="password"
                                    i18n
                                    >Password</label
                                >
                                <input
                                    class="form-control"
                                    formControlName="password"
                                    i18n
                                    id="password"
                                    type="password" />
                            </div>
                            <p
                                class="small text-center"
                                i18n>
                                <a
                                    class="text-primary"
                                    href="#"
                                    >Forgot password?</a
                                >
                            </p>
                            <div
                                class="d-grid"
                                i18n>
                                <button
                                    class="btn btn-primary"
                                    type="submit">
                                    <ng-container
                                        *ngIf="loading; else loginButton">
                                        <span
                                            class="spinner-border spinner-border-sm"
                                            role="status">
                                        </span>
                                    </ng-container>
                                    <ng-template #loginButton
                                        >Login</ng-template
                                    >
                                </button>
                            </div>
                        </form>
                        <div>
                            <p
                                class="mb-0 text-center"
                                i18n>
                                Don't have an account?
                                <a
                                    class="text-primary fw-bold"
                                    href="#"
                                    >Sign Up</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
