<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card border bg-white rounded-5 shadow-lg">
                    <div class="card-body p-3 p-sm-5 bg-light rounded-5">
                        <form
                            (submit)="onSubmit()"
                            [formGroup]="resetPasswordForm"
                            class="mb-3 md-4">
                            <h2 class="fw-bold mb-4">Reset your password.</h2>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="password"
                                    >Password*</label
                                >
                                <div class="input-group">
                                    <input
                                        [ngClass]="{
                                            'is-valid':
                                                password &&
                                                password.touched &&
                                                password.valid,
                                            'is-invalid':
                                                password &&
                                                password.touched &&
                                                password.invalid
                                        }"
                                        class="form-control"
                                        formControlName="password"
                                        id="password"
                                        [type]="
                                            showPassword ? 'text' : 'password'
                                        " />

                                    <i
                                        class="input-group-text bi"
                                        [ngClass]="{
                                            'bi-eye-slash': !showPassword,
                                            'bi-eye': showPassword
                                        }"
                                        (click)="
                                            showPassword = !showPassword
                                        "></i>
                                </div>
                                <span
                                    *ngIf="
                                        password &&
                                        password.touched &&
                                        password.getRawValue().length === 0
                                    "
                                    class="validation-message"
                                    >Password is required</span
                                >
                                <span
                                    *ngIf="
                                        password &&
                                        password.touched &&
                                        password.getRawValue().length < 8 &&
                                        password.getRawValue().length > 0
                                    "
                                    class="validation-message"
                                    >Password must be at least 8
                                    characters</span
                                >
                                <span
                                    *ngIf="
                                        password &&
                                        password.touched &&
                                        password.getRawValue().length >= 8 &&
                                        !regexp.test(password?.getRawValue())
                                    "
                                    class="validation-message"
                                    >Password is too weak</span
                                >
                            </div>
                            <div class="mb-3">
                                <label
                                    class="form-label"
                                    for="repeatPassword"
                                    >Repeat password*</label
                                >
                                <div class="input-group">
                                    <input
                                        [ngClass]="{
                                            'is-valid':
                                                repeatPassword &&
                                                repeatPassword.touched &&
                                                repeatPassword.valid &&
                                                repeatPassword.getRawValue() ===
                                                    password?.getRawValue() &&
                                                password?.valid,
                                            'is-invalid':
                                                repeatPassword &&
                                                repeatPassword.touched &&
                                                repeatPassword.invalid
                                        }"
                                        class="form-control"
                                        formControlName="repeatPassword"
                                        id="repeatPassword"
                                        [type]="
                                            showRepeatPassword
                                                ? 'text'
                                                : 'password'
                                        " />

                                    <i
                                        class="input-group-text bi"
                                        [ngClass]="{
                                            'bi-eye-slash': !showRepeatPassword,
                                            'bi-eye': showRepeatPassword
                                        }"
                                        (click)="
                                            showRepeatPassword =
                                                !showRepeatPassword
                                        "></i>
                                </div>
                                <span
                                    *ngIf="
                                        ((password && password.touched) ||
                                            (repeatPassword &&
                                                repeatPassword.touched)) &&
                                        repeatPassword?.getRawValue().length ===
                                            0
                                    "
                                    class="validation-message"
                                    >Reapeated password is required</span
                                >
                                <span
                                    *ngIf="
                                        repeatPassword &&
                                        repeatPassword.touched &&
                                        repeatPassword?.getRawValue() !==
                                            password?.getRawValue() &&
                                        repeatPassword?.getRawValue().length > 0
                                    "
                                    class="validation-message text-wrap"
                                    >Repeated password doesn't match
                                    password</span
                                >
                            </div>
                            <div
                                class="d-grid"
                                i18n>
                                <button
                                    class="btn btn-primary"
                                    type="submit"
                                    [disabled]="
                                        resetPasswordForm.invalid ||
                                        repeatPassword?.getRawValue() !==
                                            password?.getRawValue()
                                    ">
                                    <ng-container
                                        *ngIf="loading; else loginButton">
                                        <span
                                            class="spinner-border spinner-border-sm"
                                            role="status">
                                        </span>
                                    </ng-container>
                                    <ng-template #loginButton
                                        >Reset password
                                    </ng-template>
                                </button>
                            </div>
                        </form>
                        <div>
                            <p
                                class="mb-0 text-center"
                                i18n>
                                Go to
                                <a
                                    class="text-primary fw-bold"
                                    href="/login"
                                    >Login page</a
                                >
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
