<div class="modal-header">
    <h6
        class="modal-title"
        id="modal-basic-title">
        {{ message | translate }}
        <span class="text-danger">{{ danger | translate }}</span>
    </h6>
    <button
        (click)="activeModal.dismiss('Cross click')"
        class="btn-close"
        type="button"></button>
</div>
<div>
    <div class="p-4 d-flex justify-content-between">
        <div
            (click)="onClick()"
            class="btn btn-danger">
            {{ 'modal.confirm-action.action' | translate }}
        </div>
    </div>
</div>
