@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    box-sizing: border-box;
}

.cursor-pointer {
    cursor: pointer;
}

.validation-message {
    color: red;
    font-size: 15px;
}

html, body {
    height: 100%;
}

.nav-pills .nav-link.active {
    background-color: rgb(0, 0, 0, 0.075);
}

app-dashboard + app-toast-section > section.toast-container {
    top: 56px !important;
}

.sidebar {
    height: 100vh;
}

@media only screen and (max-width: 580px) {
    .sidebar {
        height: 100%;
    }
}

.bg-calculator {
    background: url('src/assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
}
