<div class="bg-calculator h-100">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="rounded-5 shadow-lg p-3 p-sm-5 glass">
                    <h2 class="fw-bold mb-4">Register to eBok</h2>
                    <p class="shadow-sm">
                        <ngb-progressbar
                            [value]="progressPercentage"
                            class="shadow-sm"
                            type="success"></ngb-progressbar>
                    </p>
                    <ng-container [ngSwitch]="forms[formIndex]">
                        <form
                            *ngSwitchCase="personalDetailsForm"
                            [formGroup]="personalDetailsForm"
                            class="mb-3">
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="firstNameInput">
                                    First name
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': firstNameControl.invalid,
                                        'is-valid': firstNameControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="firstName"
                                    id="firstNameInput"
                                    placeholder="First name"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="firstNameControl.errors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            firstNameControl.errors['required']
                                        "
                                        class="mb-0">
                                        First name is required.
                                    </p>
                                    <p
                                        *ngIf="
                                            firstNameControl.errors[
                                                'maxlength'
                                            ] as maxlen
                                        "
                                        class="mb-0">
                                        First name must be shorter than
                                        {{ maxlen['requiredLength'] }}
                                        characters.
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="lastNameInput">
                                    Last name
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': lastNameControl.invalid,
                                        'is-valid': lastNameControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="lastName"
                                    id="lastNameInput"
                                    placeholder="Last name"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="lastNameControl.errors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            lastNameControl.errors['required']
                                        "
                                        class="mb-0">
                                        Last name is required.
                                    </p>
                                    <p
                                        *ngIf="
                                            lastNameControl.errors[
                                                'maxlength'
                                            ] as maxlen
                                        "
                                        class="mb-0">
                                        Last name must be shorter than
                                        {{ maxlen['requiredLength'] }}
                                        characters.
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2 row row-cols-1">
                                <div class="input-group col mb-2">
                                    <label
                                        class="input-group-text"
                                        for="languageInput">
                                        Language
                                    </label>
                                    <select
                                        class="form-select"
                                        formControlName="language"
                                        id="languageInput">
                                        <option
                                            *ngFor="let lang of languages"
                                            [ngValue]="lang">
                                            {{ lang }}
                                        </option>
                                    </select>
                                    <button
                                        (click)="formIndex = formIndex + 1"
                                        [disabled]="personalDetailsForm.invalid"
                                        class="btn btn-secondary">
                                        Continue
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form
                            *ngSwitchCase="authDetailsForm"
                            [formGroup]="authDetailsForm"
                            class="mb-3">
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="emailInput">
                                    Email
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': emailControl.invalid,
                                        'is-valid': emailControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="email"
                                    id="emailInput"
                                    placeholder="Email address"
                                    required
                                    type="email" />
                                <div
                                    *ngIf="emailControl.errors as emailErrors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="emailErrors['required']"
                                        class="mb-0">
                                        Email address is required.
                                    </p>
                                    <p
                                        *ngIf="emailErrors['email']"
                                        class="mb-0">
                                        Email address must be valid.
                                    </p>
                                    <p
                                        *ngIf="
                                            emailErrors['maxlength'] as maxlen
                                        "
                                        class="mb-0">
                                        Email must be shorter than
                                        {{ maxlen['requiredLength'] }}
                                        characters.
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="loginInput">
                                    Login
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': loginControl.invalid,
                                        'is-valid': loginControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="login"
                                    id="loginInput"
                                    placeholder="Login"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="loginControl.errors as loginErrors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            loginErrors['required'];
                                            else loginNotEmpty
                                        "
                                        class="mb-0">
                                        Login is required.
                                    </p>
                                    <ng-template #loginNotEmpty>
                                        <p
                                            *ngIf="
                                                loginErrors[
                                                    'minlength'
                                                ] as minlen
                                            "
                                            class="mb-0">
                                            Login is must be at least
                                            {{ minlen['requiredLength'] }}
                                            characters.
                                        </p>
                                        <p
                                            *ngIf="
                                                loginErrors[
                                                    'maxlength'
                                                ] as maxlen
                                            "
                                            class="mb-0">
                                            Login must be shorter than
                                            {{ maxlen['requiredLength'] }}
                                            characters.
                                        </p>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="passwordInput">
                                    Password
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': passwordInvalid,
                                        'is-valid': !passwordInvalid
                                    }"
                                    class="form-control"
                                    formControlName="password"
                                    id="passwordInput"
                                    placeholder="Password"
                                    required
                                    type="password" />
                                <div
                                    *ngIf="passwordInvalid"
                                    class="invalid-feedback">
                                    <ng-container
                                        *ngIf="passwordControl.errors?.['required']; else pwdNotEmpty">
                                        <p class="mb-0">
                                            Password is required.
                                        </p>
                                    </ng-container>
                                    <ng-template #pwdNotEmpty>
                                        <p
                                            *ngIf="passwordControl.errors?.['weakPassword']; else mismatch"
                                            class="mb-0">
                                            Password must be at least 8
                                            characters long and must contain a
                                            lower case letter, upper case
                                            letter, digit and a symbol.
                                        </p>
                                        <ng-template #mismatch>
                                            <p class="mb-0">
                                                Password and repeat password
                                                must match.
                                            </p>
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="repeatPasswordInput">
                                    Repeat password
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': repeatPasswordInvalid,
                                        'is-valid': !repeatPasswordInvalid
                                    }"
                                    class="form-control"
                                    formControlName="repeatPassword"
                                    id="repeatPasswordInput"
                                    placeholder="Repeat password"
                                    required
                                    type="password" />
                                <div
                                    *ngIf="repeatPasswordInvalid"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                        repeatPasswordControl.errors?.['required']; else mismatch
                                    "
                                        class="mb-0">
                                        Repeat password is required.
                                    </p>
                                    <ng-template #mismatch>
                                        <p class="mb-0">
                                            Password and repeat password must
                                            match.
                                        </p>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="container">
                                    <div class="row gy-2">
                                        <button
                                            (click)="formIndex = formIndex - 1"
                                            class="btn btn-secondary col col-12 col-sm-2">
                                            Back
                                        </button>
                                        <button
                                            (click)="continueToOwnerForm()"
                                            [disabled]="authDetailsForm.invalid"
                                            class="btn btn-primary col col-12 col-sm-5"
                                            type="button">
                                            Register as owner
                                        </button>
                                        <button
                                            (click)="continueToManagerForm()"
                                            [disabled]="authDetailsForm.invalid"
                                            class="btn btn-warning col col-12 col-sm-5"
                                            type="button">
                                            Register as manager
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form
                            (ngSubmit)="register()"
                            *ngSwitchCase="ownerOrManagerForm"
                            [formGroup]="ownerOrManagerForm"
                            class="mb-3">
                            <ng-container formGroupName="address">
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label mb-0"
                                        for="postalCodeInput">
                                        Postal code
                                    </label>
                                    <input
                                        [ngClass]="{
                                            'is-invalid':
                                                postalCodeControl.invalid,
                                            'is-valid': postalCodeControl.valid
                                        }"
                                        class="form-control"
                                        formControlName="postalCode"
                                        id="postalCodeInput"
                                        placeholder="Postal code"
                                        required
                                        type="text" />
                                    <div
                                        *ngIf="
                                            postalCodeControl.errors as pcErrors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                pcErrors['required'];
                                                else pcNotEmpty
                                            "
                                            class="mb-0">
                                            Postal code is required.
                                        </p>
                                        <ng-template #pcNotEmpty>
                                            <p class="mb-0">
                                                Postal code must be 6 characters
                                                long.
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label mb-0"
                                        for="cityInput">
                                        City
                                    </label>
                                    <input
                                        [ngClass]="{
                                            'is-invalid': cityControl.invalid,
                                            'is-valid': cityControl.valid
                                        }"
                                        class="form-control"
                                        formControlName="city"
                                        id="cityInput"
                                        placeholder="City"
                                        required
                                        type="text" />
                                    <div
                                        *ngIf="cityControl.errors as cityErrors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                cityErrors['required'];
                                                else cityNotEmpty
                                            "
                                            class="mb-0">
                                            City is required.
                                        </p>
                                        <ng-template #cityNotEmpty>
                                            <p
                                                *ngIf="
                                                    cityErrors[
                                                        'minlength'
                                                    ] as minlen
                                                "
                                                class="mb-0">
                                                City must be at least
                                                {{ minlen['requiredLength'] }}
                                                characters.
                                            </p>
                                            <p
                                                *ngIf="
                                                    cityErrors[
                                                        'maxlength'
                                                    ] as maxlen
                                                "
                                                class="mb-0">
                                                City must be at most
                                                {{ maxlen['requiredLength'] }}
                                                characters.
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label mb-0"
                                        for="streetInput">
                                        Street
                                    </label>
                                    <input
                                        [ngClass]="{
                                            'is-invalid': streetControl.invalid,
                                            'is-valid': streetControl.valid
                                        }"
                                        class="form-control"
                                        formControlName="street"
                                        id="streetInput"
                                        placeholder="Street"
                                        required
                                        type="text" />
                                    <div
                                        *ngIf="
                                            streetControl.errors as streetErrors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="streetErrors['required']"
                                            class="mb-0">
                                            Street is required.
                                        </p>
                                        <p
                                            *ngIf="
                                                streetErrors[
                                                    'maxlength'
                                                ] as maxlen
                                            "
                                            class="mb-0">
                                            Street must be at most
                                            {{ maxlen['requiredLength'] }}
                                            characters.
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        class="form-label mb-0"
                                        for="buildingNumberInput">
                                        Building number
                                    </label>
                                    <input
                                        [ngClass]="{
                                            'is-invalid':
                                                buildingNumberControl.invalid,
                                            'is-valid':
                                                buildingNumberControl.valid
                                        }"
                                        class="form-control"
                                        formControlName="buildingNumber"
                                        id="buildingNumberInput"
                                        placeholder="Buidling number"
                                        required
                                        type="number" />
                                    <div
                                        *ngIf="
                                            buildingNumberControl.errors as bnErrors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="bnErrors['required']"
                                            class="mb-0">
                                            Building number is required.
                                        </p>
                                        <p
                                            *ngIf="bnErrors['min']"
                                            class="mb-0">
                                            Building number must be greater than
                                            {{ bnErrors['min']['min'] - 1 }}.
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                            <div
                                *ngIf="licenseNumberControl.enabled"
                                class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="licenseNumberInput">
                                    License number
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid':
                                            licenseNumberControl.invalid,
                                        'is-valid': licenseNumberControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="licenseNumber"
                                    id="licenseNumberInput"
                                    placeholder="License number"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="licenseNumberControl.errors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            licenseNumberControl.errors[
                                                'required'
                                            ]
                                        "
                                        class="mb-0">
                                        License number is required.
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="container">
                                    <div class="row gy-2">
                                        <button
                                            (click)="formIndex = formIndex - 1"
                                            class="btn btn-secondary col col-12 col-sm-2">
                                            Back
                                        </button>
                                        <button
                                            [disabled]="!allFormsValid"
                                            class="btn btn-primary ms-auto col col-12 col-sm-5"
                                            type="submit">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                    <div>
                        <p
                            class="mb-0 text-center"
                            i18n>
                            {{ 'form.register.account-info' | translate }}
                            <a
                                class="text-primary fw-bold"
                                routerLink="/login">
                                {{ 'form.register.sign-in' | translate }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
