<div class="bg-calculator h-100">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="rounded-5 shadow-lg p-4 p-sm-5 glass">
                    <h2 class="fw-bold mb-4 text-body-emphasis">
                        {{ 'form.register.title' | translate }}
                    </h2>
                    <p>
                        <ngb-progressbar
                            [value]="progressPercentage"
                            class="shadow-sm"
                            type="success"></ngb-progressbar>
                    </p>
                    <ng-container [ngSwitch]="forms[formIndex]">
                        <form
                            *ngSwitchCase="personalDetailsForm"
                            [formGroup]="personalDetailsForm"
                            class="mb-3">
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="firstNameInput">
                                    {{
                                        'component.fields.first-name'
                                            | translate
                                    }}
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': firstNameControl.invalid,
                                        'is-valid': firstNameControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="firstName"
                                    id="firstNameInput"
                                    placeholder="{{
                                        'component.fields.first-name'
                                            | translate
                                    }}"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="firstNameControl.errors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            firstNameControl.errors['required']
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.first-name.required'
                                                | translate
                                        }}
                                    </p>
                                    <p
                                        *ngIf="
                                            firstNameControl.errors[
                                                'maxlength'
                                            ] as maxlen
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.first-name.max-length'
                                                | translate
                                        }}
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="lastNameInput">
                                    {{
                                        'component.fields.last-name' | translate
                                    }}
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': lastNameControl.invalid,
                                        'is-valid': lastNameControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="lastName"
                                    id="lastNameInput"
                                    placeholder="{{
                                        'component.fields.last-name' | translate
                                    }}"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="lastNameControl.errors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            lastNameControl.errors['required']
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.last-name.required'
                                                | translate
                                        }}
                                    </p>
                                    <p
                                        *ngIf="
                                            lastNameControl.errors[
                                                'maxlength'
                                            ] as maxlen
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.last-name.max-length'
                                                | translate
                                        }}
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2 row row-cols-1">
                                <div class="input-group col mb-2">
                                    <label
                                        class="input-group-text"
                                        for="languageInput">
                                        {{
                                            'component.account.language'
                                                | translate
                                        }}
                                    </label>
                                    <select
                                        class="form-select"
                                        formControlName="language"
                                        id="languageInput">
                                        <option
                                            *ngFor="let lang of languages"
                                            [ngValue]="lang">
                                            {{ lang }}
                                        </option>
                                    </select>
                                    <button
                                        (click)="formIndex = formIndex + 1"
                                        [disabled]="personalDetailsForm.invalid"
                                        class="btn btn-secondary">
                                        {{
                                            'form.register.continue' | translate
                                        }}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form
                            *ngSwitchCase="authDetailsForm"
                            [formGroup]="authDetailsForm"
                            class="mb-3">
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="emailInput">
                                    Email
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': emailControl.invalid,
                                        'is-valid': emailControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="email"
                                    id="emailInput"
                                    placeholder="Email"
                                    required
                                    type="email" />
                                <div
                                    *ngIf="emailControl.errors as emailErrors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="emailErrors['required']"
                                        class="mb-0">
                                        {{
                                            'validation.email.required'
                                                | translate
                                        }}
                                    </p>
                                    <p
                                        *ngIf="emailErrors['email']"
                                        class="mb-0">
                                        {{
                                            'validation.email.valid' | translate
                                        }}
                                    </p>
                                    <p
                                        *ngIf="
                                            emailErrors['maxlength'] as maxlen
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.email.max-length'
                                                | translate
                                        }}
                                    </p>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="loginInput">
                                    Login
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': loginControl.invalid,
                                        'is-valid': loginControl.valid
                                    }"
                                    class="form-control"
                                    formControlName="login"
                                    id="loginInput"
                                    placeholder="Login"
                                    required
                                    type="text" />
                                <div
                                    *ngIf="loginControl.errors as loginErrors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            loginErrors['required'];
                                            else loginNotEmpty
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.login.required'
                                                | translate
                                        }}
                                    </p>
                                    <ng-template #loginNotEmpty>
                                        <p
                                            *ngIf="
                                                loginErrors[
                                                    'minlength'
                                                ] as minlen
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.login.min-length'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                loginErrors[
                                                    'maxlength'
                                                ] as maxlen
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.login.max-length'
                                                    | translate
                                            }}
                                        </p>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="passwordInput">
                                    {{ 'form.register.password' | translate }}
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': passwordInvalid,
                                        'is-valid': !passwordInvalid
                                    }"
                                    class="form-control"
                                    formControlName="password"
                                    id="passwordInput"
                                    placeholder="{{
                                        'form.register.password' | translate
                                    }}"
                                    required
                                    type="password" />
                                <div
                                    *ngIf="passwordInvalid"
                                    class="invalid-feedback">
                                    <ng-container
                                        *ngIf="passwordControl.errors?.['required']; else pwdNotEmpty">
                                        <p class="mb-0">
                                            {{
                                                'validation.password.required'
                                                    | translate
                                            }}
                                        </p>
                                    </ng-container>
                                    <ng-template #pwdNotEmpty>
                                        <p
                                            *ngIf="passwordControl.errors?.['weakPassword']; else mismatch"
                                            class="mb-0">
                                            {{
                                                'validation.password.message'
                                                    | translate
                                            }}
                                        </p>
                                        <ng-template #mismatch>
                                            <p class="mb-0">
                                                {{
                                                    'validation.password.match'
                                                        | translate
                                                }}
                                            </p>
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="mb-2 has-validation">
                                <label
                                    class="form-label mb-0"
                                    for="repeatPasswordInput">
                                    {{
                                        'form.register.repeat-password'
                                            | translate
                                    }}
                                </label>
                                <input
                                    [ngClass]="{
                                        'is-invalid': repeatPasswordInvalid,
                                        'is-valid': !repeatPasswordInvalid
                                    }"
                                    class="form-control"
                                    formControlName="repeatPassword"
                                    id="repeatPasswordInput"
                                    placeholder=" {{
                                        'form.register.repeat-password'
                                            | translate
                                    }}"
                                    required
                                    type="password" />
                                <div
                                    *ngIf="repeatPasswordInvalid"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                        repeatPasswordControl.errors?.['required']; else mismatch
                                    "
                                        class="mb-0">
                                        {{
                                            'validation.repeat-password.required'
                                                | translate
                                        }}
                                    </p>
                                    <ng-template #mismatch>
                                        <p class="mb-0">
                                            {{
                                                'validation.password.match'
                                                    | translate
                                            }}
                                        </p>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="container">
                                    <div class="row gy-2">
                                        <button
                                            class="btn btn-secondary col col-12"
                                            (click)="formIndex = formIndex - 1">
                                            {{
                                                'form.register.back' | translate
                                            }}
                                        </button>
                                        <button
                                            (click)="continueToOwnerForm()"
                                            [disabled]="authDetailsForm.invalid"
                                            type="button"
                                            class="btn btn-primary col col-12">
                                            {{
                                                'form.register.register-as-owner'
                                                    | translate
                                            }}
                                        </button>
                                        <button
                                            (click)="continueToManagerForm()"
                                            [disabled]="authDetailsForm.invalid"
                                            type="button"
                                            class="btn btn-warning col col-12">
                                            {{
                                                'form.register.register-as-manager'
                                                    | translate
                                            }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form
                            *ngSwitchCase="ownerOrManagerForm"
                            [formGroup]="ownerOrManagerForm"
                            (ngSubmit)="register()"
                            class="mb-3">
                            <ng-container formGroupName="address">
                                <div class="mb-2 has-validation">
                                    <label
                                        for="postalCodeInput"
                                        class="form-label mb-0">
                                        {{
                                            'component.fields.postal-code'
                                                | translate
                                        }}
                                    </label>
                                    <input
                                        id="postalCodeInput"
                                        type="text"
                                        placeholder="{{
                                            'component.fields.postal-code'
                                                | translate
                                        }}"
                                        formControlName="postalCode"
                                        required
                                        class="form-control"
                                        [ngClass]="{
                                            'is-invalid':
                                                postalCodeControl.invalid,
                                            'is-valid': postalCodeControl.valid
                                        }" />
                                    <div
                                        *ngIf="
                                            postalCodeControl.errors as pcErrors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                pcErrors['required'];
                                                else pcNotEmpty
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.postal-code.required'
                                                    | translate
                                            }}
                                        </p>
                                        <ng-template #pcNotEmpty>
                                            <p class="mb-0">
                                                {{
                                                    'validation.postal-code.length'
                                                        | translate
                                                }}
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        for="cityInput"
                                        class="form-label mb-0">
                                        {{
                                            'component.fields.city' | translate
                                        }}
                                    </label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="cityInput"
                                        formControlName="city"
                                        placeholder="{{
                                            'component.fields.city' | translate
                                        }}"
                                        required
                                        [ngClass]="{
                                            'is-invalid': cityControl.invalid,
                                            'is-valid': cityControl.valid
                                        }" />
                                    <div
                                        *ngIf="cityControl.errors as cityErrors"
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="
                                                cityErrors['required'];
                                                else cityNotEmpty
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.city.required'
                                                    | translate
                                            }}
                                        </p>
                                        <ng-template #cityNotEmpty>
                                            <p
                                                *ngIf="
                                                    cityErrors[
                                                        'minlength'
                                                    ] as minlen
                                                "
                                                class="mb-0">
                                                {{
                                                    'validation.city.min-length'
                                                        | translate
                                                }}
                                            </p>
                                            <p
                                                *ngIf="
                                                    cityErrors[
                                                        'maxlength'
                                                    ] as maxlen
                                                "
                                                class="mb-0">
                                                {{
                                                    'validation.city.max-length'
                                                        | translate
                                                }}
                                            </p>
                                        </ng-template>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        for="streetInput"
                                        class="form-label mb-0">
                                        {{
                                            'component.fields.street'
                                                | translate
                                        }}
                                    </label>
                                    <input
                                        type="text"
                                        id="streetInput"
                                        required
                                        formControlName="street"
                                        class="form-control"
                                        placeholder="{{
                                            'component.fields.street'
                                                | translate
                                        }}"
                                        [ngClass]="{
                                            'is-invalid': streetControl.invalid,
                                            'is-valid': streetControl.valid
                                        }" />
                                    <div
                                        *ngIf="
                                            streetControl.errors as streetErrors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="streetErrors['required']"
                                            class="mb-0">
                                            {{
                                                'validation.street.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="
                                                streetErrors[
                                                    'maxlength'
                                                ] as maxlen
                                            "
                                            class="mb-0">
                                            {{
                                                'validation.street.length'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mb-2 has-validation">
                                    <label
                                        for="buildingNumberInput"
                                        class="form-label mb-0">
                                        {{
                                            'component.fields.building-number'
                                                | translate
                                        }}
                                    </label>
                                    <input
                                        type="number"
                                        id="buildingNumberInput"
                                        required
                                        class="form-control"
                                        formControlName="buildingNumber"
                                        placeholder="{{
                                            'component.fields.building-number'
                                                | translate
                                        }}"
                                        [ngClass]="{
                                            'is-invalid':
                                                buildingNumberControl.invalid,
                                            'is-valid':
                                                buildingNumberControl.valid
                                        }" />
                                    <div
                                        *ngIf="
                                            buildingNumberControl.errors as bnErrors
                                        "
                                        class="invalid-feedback">
                                        <p
                                            *ngIf="bnErrors['required']"
                                            class="mb-0">
                                            {{
                                                'validation.building.required'
                                                    | translate
                                            }}
                                        </p>
                                        <p
                                            *ngIf="bnErrors['min']"
                                            class="mb-0">
                                            {{
                                                'validation.building.length'
                                                    | translate
                                            }}
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                            <div
                                class="mb-2 has-validation"
                                *ngIf="licenseNumberControl.enabled">
                                <label
                                    for="licenseNumberInput"
                                    class="form-label mb-0">
                                    {{
                                        'component.account.license-number'
                                            | translate
                                    }}
                                </label>
                                <input
                                    type="text"
                                    id="licenseNumberInput"
                                    required
                                    class="form-control"
                                    formControlName="licenseNumber"
                                    placeholder="{{
                                        'component.account.license-number'
                                            | translate
                                    }}"
                                    [ngClass]="{
                                        'is-invalid':
                                            licenseNumberControl.invalid,
                                        'is-valid': licenseNumberControl.valid
                                    }" />
                                <div
                                    *ngIf="licenseNumberControl.errors"
                                    class="invalid-feedback">
                                    <p
                                        *ngIf="
                                            licenseNumberControl.errors[
                                                'required'
                                            ]
                                        "
                                        class="mb-0">
                                        {{
                                            'validation.license-number.required'
                                                | translate
                                        }}
                                    </p>
                                </div>
                            </div>
                            <app-recaptcha
                                (captchaResolved)="
                                    onCaptchaResolved($event)
                                "></app-recaptcha>
                            <div class="mb-2">
                                <div class="container">
                                    <div class="row gy-2">
                                        <button
                                            class="btn btn-secondary col col-12 col-sm-2"
                                            (click)="formIndex = formIndex - 1">
                                            {{
                                                'form.register.back' | translate
                                            }}
                                        </button>
                                        <button
                                            [disabled]="!allFormsValid"
                                            type="submit"
                                            class="btn btn-primary ms-auto col col-12 col-sm-5">
                                            {{
                                                'form.register.action'
                                                    | translate
                                            }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </ng-container>
                    <div>
                        <p
                            class="mb-0 text-center"
                            i18n>
                            {{ 'form.register.account-info' | translate }}
                            <a
                                class="text-primary fw-bold"
                                routerLink="/login">
                                {{ 'form.register.sign-in' | translate }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
