<ng-container *ngIf="account$ | async as account; else loadingAccountData">
    <div ngbAccordion>
        <div
            ngbAccordionItem="personal"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    {{ 'component.account.personal-data' | translate }}
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div
                    ngbAccordionBody
                    class="d-flex flex-column flex-md-row justify-content-start align-items-center mb-3 mb-md-0">
                    <ng-template>
                        <div class="px-5 mb-4 mb-md-2">
                            <div class="text-center">
                                <i
                                    class="bi bi-person"
                                    style="font-size: 6rem"></i>
                            </div>
                            <button
                                class="fs-6 w-100 btn btn-outline-primary"
                                (click)="editPersonalDataAsAdmin()">
                                {{ 'component.account.edit' | translate }}
                            </button>
                        </div>
                        <div
                            class="justify-content-center px-3 px-md-5 row fs-6">
                            <div class="col-md">
                                <p>
                                    <strong>{{
                                        'component.fields.first-name'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>{{ account.firstName }}</p>
                                <p>
                                    <strong>{{
                                        'component.fields.last-name' | translate
                                    }}</strong>
                                </p>
                                <p>{{ account.lastName }}</p>
                                <p>
                                    <strong>{{
                                        'component.fields.login' | translate
                                    }}</strong>
                                </p>
                                <p>{{ account.login }}</p>
                            </div>
                            <div class="col-md">
                                <p><strong>E-mail</strong></p>
                                <p>{{ account.email }}</p>
                                <p>
                                    <strong>{{
                                        'component.account.language' | translate
                                    }}</strong>
                                </p>
                                <p>{{ account.language }}</p>
                                <p>
                                    <strong>{{
                                        'component.account.verified' | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        'component.account.verified-' +
                                            account.verified
                                            | translate
                                            | titlecase
                                    }}
                                </p>
                            </div>
                            <div class="col-md">
                                <p>
                                    <strong>{{
                                        'component.account.created-at'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        account.createdTime
                                            | date : 'dd/MM/yy HH:mm:ss'
                                    }}
                                </p>
                                <p>
                                    <strong>{{
                                        'component.account.created-by'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>{{ account.createdBy }}</p>
                            </div>
                            <div
                                *ngIf="account.updatedTime"
                                class="col-md">
                                <p>
                                    <strong>{{
                                        'component.account.updated-at'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        account.updatedTime
                                            | date : 'dd/MM/yy HH:mm:ss'
                                    }}
                                </p>
                                <p>
                                    <strong>{{
                                        'component.account.updated-by'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>{{ account.updatedBy }}</p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div
            ngbAccordionItem="auth"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    {{ 'component.account.auth-data' | translate }}
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div
                    ngbAccordionBody
                    class="d-flex justify-content-start align-items-center fs-6"
                    *ngIf="account.activityTracker as activityTracker">
                    <ng-template>
                        <div
                            class="row px-3 px-md-5 justify-content-center w-100">
                            <div
                                *ngIf="
                                    account.activityTracker.lastSuccessfulLogin
                                "
                                class="col-md">
                                <p>
                                    <strong>{{
                                        'component.account.last-success-login-date'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        activityTracker.lastSuccessfulLogin
                                            | date : 'dd/MM/yy HH:mm:ss'
                                    }}
                                </p>
                                <p>
                                    <strong>{{
                                        'component.account.last-success-login-ip'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{ activityTracker.lastSuccessfulLoginIp }}
                                </p>
                            </div>
                            <div
                                *ngIf="
                                    account.activityTracker
                                        .lastUnsuccessfulLogin
                                "
                                class="col-md">
                                <p>
                                    <strong>{{
                                        'component.account.last-unsuccessful-login-date'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        activityTracker.lastUnsuccessfulLogin
                                            | date : 'dd/MM/yy HH:mm:ss'
                                    }}
                                </p>
                                <p>
                                    <strong>{{
                                        'component.account.last-unsuccessful-login-ip'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        activityTracker.lastUnsuccessfulLoginIp
                                    }}
                                </p>
                            </div>
                            <div class="col-md">
                                <p>
                                    <strong>{{
                                        'component.account.unsuccessful-login-chain'
                                            | translate
                                    }}</strong>
                                </p>
                                <p>
                                    {{
                                        activityTracker.unsuccessfulLoginChainCounter
                                    }}
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div
            ngbAccordionItem="accessLevels"
            [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button
                    ngbAccordionButton
                    class="fs-5">
                    {{ 'component.account.access-levels-data' | translate }}
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div
                            class="d-flex justify-content-start align-items-center">
                            <div
                                class="row px-3 px-md-5 justify-content-center w-100">
                                <div
                                    *ngFor="
                                        let accessLevel of account.accessLevels
                                            | activeAccessLevels
                                    "
                                    class="fs-6 col-md p-3">
                                    <p>
                                        <strong>{{
                                            'component.account.level'
                                                | translate
                                        }}</strong>
                                    </p>
                                    <p>
                                        {{
                                            'access-levels.' + accessLevel.level
                                                | translate
                                        }}
                                    </p>
                                    <span
                                        *ngIf="accessLevel.address as address">
                                        <hr />
                                        <p>
                                            <strong>{{
                                                'component.fields.address'
                                                    | translate
                                            }}</strong>
                                        </p>
                                        <p>
                                            {{ address.street }}
                                            {{ address.buildingNumber }}
                                        </p>
                                        <p>
                                            {{ address.postalCode }}
                                            {{ address.city }}
                                        </p>
                                    </span>
                                    <span *ngIf="accessLevel.licenseNumber">
                                        <hr />
                                        <p>
                                            <strong>{{
                                                'component.account.license-number'
                                                    | translate
                                            }}</strong>
                                        </p>
                                        <p>{{ accessLevel.licenseNumber }}</p>
                                    </span>
                                    <hr />
                                    <p>
                                        <strong>{{
                                            'component.account.created-at'
                                                | translate
                                        }}</strong>
                                    </p>
                                    <p>
                                        {{
                                            accessLevel.createdTime
                                                | date : 'dd/MM/yy HH:mm:ss'
                                        }}
                                    </p>
                                    <p>
                                        <strong>{{
                                            'component.account.created-by'
                                                | translate
                                        }}</strong>
                                    </p>
                                    <p>{{ accessLevel.createdBy }}</p>
                                    <span *ngIf="accessLevel.updatedTime">
                                        <hr />
                                        <p>
                                            <strong>{{
                                                'component.account.updated-at'
                                                    | translate
                                            }}</strong>
                                        </p>
                                        <p>
                                            {{
                                                accessLevel.updatedTime
                                                    | date : 'dd/MM/yy HH:mm:ss'
                                            }}
                                        </p>
                                        <p>
                                            <strong>{{
                                                'component.account.updated-by'
                                                    | translate
                                            }}</strong>
                                        </p>
                                        <p>{{ accessLevel.updatedBy }}</p>
                                    </span>
                                    <hr
                                        class="d-block d-md-none border-top border-5 border-dark" />
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loadingAccountData>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">{{ 'component.account.loading' | translate }}</span>
    </div>
</ng-template>
