<ng-container *ngIf="authService.isAdmin() || authService.isManager()">
    <div
        aria-label="Choose access type"
        class="btn-group mb-3 d-flex"
        role="group">
        <button
            (click)="changeAccessTypeOption('ALL')"
            [ngClass]="[
                chosenAccessType.getValue() === 'ALL'
                    ? 'btn-primary active'
                    : 'btn-outline-primary',
                chosenOption.getValue() === 3 && authService.isAdmin()
                    ? 'disabled'
                    : ''
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.all' | translate }}
        </button>
        <button
            (click)="changeAccessTypeOption('OWNER')"
            [ngClass]="[
                chosenAccessType.getValue() === 'OWNER'
                    ? 'btn-primary active'
                    : 'btn-outline-primary',
                chosenOption.getValue() === 3 && authService.isAdmin()
                    ? 'disabled'
                    : ''
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.owners' | translate }}
        </button>
        <button
            *ngIf="authService.isAdmin()"
            (click)="changeAccessTypeOption('MANAGER')"
            [ngClass]="[
                chosenAccessType.getValue() === 'MANAGER'
                    ? 'btn-primary active'
                    : 'btn-outline-primary',
                chosenOption.getValue() === 3 && authService.isManager()
                    ? 'disabled'
                    : ''
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.managers' | translate }}
        </button>
        <button
            *ngIf="authService.isAdmin()"
            (click)="changeAccessTypeOption('ADMIN')"
            [ngClass]="[
                chosenAccessType.getValue() === 'ADMIN'
                    ? 'btn-primary active'
                    : 'btn-outline-primary',
                chosenOption.getValue() === 3 && authService.isAdmin()
                    ? 'disabled'
                    : ''
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.admins' | translate }}
        </button>
    </div>
</ng-container>
<div class="row">
    <div
        aria-label="Choose active"
        class="btn-group mb-3 d-flex"
        role="group">
        <button
            (click)="changeStatusOption(1)"
            [ngClass]="[
                chosenOption.getValue() === 1
                    ? 'btn-primary active'
                    : 'btn-outline-primary'
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.active' | translate }}
        </button>
        <button
            (click)="changeStatusOption(2)"
            [ngClass]="[
                chosenOption.getValue() === 2
                    ? 'btn-primary active'
                    : 'btn-outline-primary'
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.inactive' | translate }}
        </button>
        <button
            (click)="changeStatusOption(3)"
            [ngClass]="[
                chosenOption.getValue() === 3
                    ? 'btn-primary active'
                    : 'btn-outline-primary',
                chosenAccessType.getValue() === 'ALL' ||
                (chosenAccessType.getValue() === 'OWNER' &&
                    !authService.isManager()) ||
                (chosenAccessType.getValue() === 'MANAGER' &&
                    !authService.isAdmin()) ||
                chosenAccessType.getValue() === 'ADMIN'
                    ? 'disabled'
                    : ''
            ]"
            class="btn"
            type="button">
            {{ 'component.accounts.display.approval' | translate }}
        </button>
        <span
            (click)="reload()"
            class="btn btn-primary flex-grow-0 d-flex justify-content-center align-items-center">
            <i class="bi bi-arrow-clockwise"></i>
        </span>
    </div>
</div>

<ng-container *ngIf="accounts$ | async as accounts; else loadingAccounts">
    <div
        class="d-flex flex-column justify-content-between table-responsive border rounded"
        style="min-height: 300px">
        <table class="table text-center table-hover">
            <thead>
                <tr class="bg-light">
                    <th scope="col">
                        {{ 'component.fields.login' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'component.fields.first-name' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'component.fields.last-name' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'component.fields.active' | translate }}
                    </th>
                    <th
                        *ngIf="authService.isAdmin()"
                        scope="col">
                        {{ 'component.fields.details' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'component.fields.actions' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let account of accounts.slice(
                            (page - 1) * pageSize,
                            page * pageSize
                        )
                    "
                    class="cursor-pointer">
                    <td>{{ account.login }}</td>
                    <td>{{ account.firstName }}</td>
                    <td>{{ account.lastName }}</td>
                    <td>
                        <i
                            [ngClass]="{
                                'bi-lock-fill': !account.active,
                                'bi-unlock-fill': account.active
                            }"
                            class="bi"></i>
                    </td>
                    <td *ngIf="authService.isAdmin()">
                        <button
                            [queryParams]="{ id: account.id }"
                            [routerLink]="['account']"
                            class="btn btn-outline-primary">
                            {{ 'component.fields.details' | translate }}
                        </button>
                    </td>
                    <td>
                        <div
                            *ngIf="
                                !authService.isOwner() &&
                                account.login !== authService.getLogin()
                            "
                            class="d-inline-block"
                            ngbDropdown
                            container="body">
                            <button
                                class="btn btn-outline-primary"
                                id="dropdownBasic1"
                                ngbDropdownToggle
                                type="button">
                                {{ 'component.fields.actions' | translate }}
                            </button>
                            <div
                                *ngIf="!authService.isOwner()"
                                aria-labelledby="dropdownBasic1"
                                ngbDropdownMenu>
                                <button
                                    *ngIf="
                                        authService.isAdmin() && account.active
                                    "
                                    (click)="forceChange(account.login)"
                                    ngbDropdownItem>
                                    {{
                                        'component.accounts.password-change'
                                            | translate
                                    }}
                                </button>
                                <button
                                    *ngIf="
                                        account.login !==
                                            authService.getLogin() &&
                                        authService.isAdmin()
                                    "
                                    ngbDropdownItem
                                    (click)="editPersonalDataAsAdmin(account)">
                                    {{
                                        'component.accounts.edit-account'
                                            | translate
                                    }}
                                </button>
                                <button
                                    *ngIf="!account.active"
                                    ngbDropdownItem>
                                    <app-change-active-status
                                        (statusChangedEvent)="reload()"
                                        [id]="account.id"
                                        [status]="account.active">
                                    </app-change-active-status>
                                </button>
                                <button
                                    *ngIf="showGrantAdminDropdownItem(account)"
                                    (click)="
                                        openGrantAccessLevelModal(
                                            account,
                                            accessTypeEnum.ADMIN
                                        )
                                    "
                                    ngbDropdownItem>
                                    Nadaj poziom dostępu Administrator
                                </button>
                                <button
                                    *ngIf="
                                        showGrantManagerDropdownItem(account)
                                    "
                                    (click)="
                                        openGrantAccessLevelModal(
                                            account,
                                            accessTypeEnum.MANAGER
                                        )
                                    "
                                    ngbDropdownItem>
                                    Nadaj poziom dostępu Zarządca
                                </button>
                                <button
                                    *ngIf="showGrantOwnerDropdownItem(account)"
                                    (click)="
                                        openGrantAccessLevelModal(
                                            account,
                                            accessTypeEnum.OWNER
                                        )
                                    "
                                    ngbDropdownItem>
                                    Nadaj poziom dostępu Właściciel
                                </button>
                                <button
                                    *ngIf="showRevokeAdminDropdownItem(account)"
                                    (click)="
                                        openRevokeAccessLevelModal(
                                            account,
                                            accessTypeEnum.ADMIN
                                        )
                                    "
                                    ngbDropdownItem>
                                    Odbierz poziom dostępu Administrator
                                </button>
                                <button
                                    *ngIf="
                                        showRevokeManagerDropdownItem(account)
                                    "
                                    (click)="
                                        openRevokeAccessLevelModal(
                                            account,
                                            accessTypeEnum.MANAGER
                                        )
                                    "
                                    ngbDropdownItem>
                                    Odbierz poziom dostępu Zarządca
                                </button>
                                <button
                                    *ngIf="showRevokeOwnerDropdownItem(account)"
                                    (click)="
                                        openRevokeAccessLevelModal(
                                            account,
                                            accessTypeEnum.OWNER
                                        )
                                    "
                                    ngbDropdownItem>
                                    Odbierz poziom dostępu Właściciel
                                </button>
                                <button
                                    *ngIf="chosenOption.getValue() === 3"
                                    (click)="
                                        openGrantAccessLevelModal(
                                            account,
                                            chosenAccessType.getValue(),
                                            false
                                        )
                                    "
                                    ngbDropdownItem>
                                    Zweryfikuj
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-sm-flex justify-content-between m-2">
            <div>
                <ngb-pagination
                    [(page)]="page"
                    [collectionSize]="accounts.length"
                    [pageSize]="pageSize">
                </ngb-pagination>
            </div>

            <div>
                <select
                    [(ngModel)]="pageSize"
                    class="form-select w-auto">
                    <option [ngValue]="2">
                        {{ 'component.accounts.display.two-items' | translate }}
                    </option>
                    <option [ngValue]="3">
                        {{
                            'component.accounts.display.three-items' | translate
                        }}
                    </option>
                    <option [ngValue]="4">
                        {{
                            'component.accounts.display.four-items' | translate
                        }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loadingAccounts>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">{{ 'component.accounts.loading' | translate }}</span>
    </div>
</ng-template>
