<div class="row">
    <div
        aria-label="Basic example"
        class="btn-group mb-3 d-flex"
        role="group">
        <button
            (click)="changeOption(1)"
            [ngClass]="{ active: chosenOption.getValue() === 1 }"
            class="btn btn-secondary"
            type="button">
            All
        </button>
        <button
            (click)="changeOption(2)"
            [ngClass]="{ active: chosenOption.getValue() === 2 }"
            class="btn btn-secondary"
            type="button">
            Active
        </button>
        <button
            (click)="changeOption(3)"
            [ngClass]="{ active: chosenOption.getValue() === 3 }"
            class="btn btn-secondary"
            type="button">
            Inactive
        </button>
        <button
            (click)="changeOption(4)"
            [ngClass]="{ active: chosenOption.getValue() === 4 }"
            class="btn btn-secondary"
            type="button">
            Need approving
        </button>
        <span
            (click)="reload()"
            class="btn btn-primary flex-grow-0">
            <i class="bi bi-arrow-clockwise"></i>
        </span>
    </div>
</div>

<ng-container *ngIf="accounts$ | async as accounts; else loadingAccounts">
    <div class="table-responsive border rounded">
        <table class="table text-center table-hover">
            <thead>
                <tr class="bg-light">
                    <th scope="col">Login</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Active</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let account of accounts.slice(
                            (page - 1) * pageSize,
                            page * pageSize
                        )
                    "
                    class="cursor-pointer">
                    <td>{{ account.login }}</td>
                    <td>{{ account.firstName }}</td>
                    <td>{{ account.lastName }}</td>
                    <td>{{ account.active }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-sm-flex justify-content-between m-2">
            <div>
                <ngb-pagination
                    [(page)]="page"
                    [collectionSize]="accounts.length"
                    [pageSize]="pageSize">
                </ngb-pagination>
            </div>

            <div>
                <select
                    [(ngModel)]="pageSize"
                    class="form-select w-auto">
                    <option [ngValue]="2">2 items per page</option>
                    <option [ngValue]="3">3 items per page</option>
                    <option [ngValue]="4">4 items per page</option>
                </select>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loadingAccounts>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="spinner-border"></span>
        <span class="mt-3">Loading accounts..</span>
    </div>
</ng-template>
